body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
    background: linear-gradient(45deg, #000, #333);
}

.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
}
